<h1 align="center">Log In</h1>

<%= form_for(:session, html: {class:"form-horizonal", role: "form"}, url: login_path) do |f| %>


  <div class="row form-group">
    <div class="control-label col-sm-2">
      <%= f.label :email %>
    </div>
    <div class="col-sm-8">
      <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
    </div>
  </div>
  <div class="row form-group">
    <div class="control-label col-sm-2">
      <%= f.label :password %>
    </div>
    <div class="col-sm-8">
      <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
    </div>
  </div>


  <div class="row form-group">
    <div class="offset-sm-2 col-sm-10">
      <%= f.submit "Login", class: "btn btn-primary btn-lg" %>
    </div>
  </div>

<% end %>
