<% obj.each do |article| %>
  <div class="row">
    <div class="col-8 offset-2" style="padding: 15px;">
      <div class="card card-lg" style="background: rgba(205,205,205,0.5); padding: 15px;">
        <div class="article-title">
          <%= link_to article.title, article_path(article) %>
        </div>
        <div class="article-body">
          <%= truncate(article.description, length: 100) %>
          <div class="article-meta-details">
            <small>
              Created by: <%= article.user.username if article.user %>,
                <%= time_ago_in_words(article.created_at) %> ago, last updated:
                <%= time_ago_in_words(article.updated_at) %>
            </small>
          </div>
        </div>
        <% if article.categories.any? %>
          <p><%= render article.categories %></p>
        <% end %>
        <% if logged_in? && (current_user == article.user || current_user.admin?) %>
          <div class="article-actions">
            <%= link_to "Edit article", edit_article_path(article), class: "btn btn-sm btn-primary" %>
            <%= link_to "Delete this Article", article_path(article), method: :delete,
                                                data: { confirm: "Are you sure?" },
                                                class: "btn btn-sm btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
