<%= render "shared/errors", obj: @article %>

<div class="row">
  <div class="col-sm-12">
    <%= form_for(@article, html: {class:"form-horizonal", role: "form"}) do |f| %>
      <div class="row form-group">
        <div class="control-label col-sm-2">
          <%= f.label :title %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :title, class: "form-control", placeholder: "Title of Article", autofocus: true %>
        </div>
      </div>
      <div class="row form-group">
        <div class="control-label col-sm-2">
          <%= f.label :description %>
        </div>
        <div class="col-sm-8">
          <%= f.text_area :description, class: "form-control", placeholder: "Article Body", rows: 10 %>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-8 offset-2 center">
            <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
              <%- cb.label(class: "checkbox-inline input_checkbox",style: "padding: 0 5px;") {cb.check_box(class: "checkbox") + cb.text} -%>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="offset-sm-2 col-sm-10">
          <%= f.submit class: "btn btn-primary btn-lg" %>
        </div>
      </div>

    <% end %>

    <div class="center col-12 sm-offset-2">
      [ <%= link_to "Cancel Request and Return to Articles Listing", articles_path %> ]
      <%#= link_to "Back to articles listing", articles_path %>
    </div>

  </div>
</div>
