<h1 align="center">Listing All Articles</h1>
<div class="row">
  <div class="digg_pagination col-4 offset-4" style="margin-top: 30px; margin-bottom: 30px; padding-left: 60px;">
    <%= will_paginate %>
  </div>
</div>
<%= render "article", obj: @articles %>
<div class="row">
  <div class="digg_pagination col-4 offset-4" style="margin-top: 30px; margin-bottom: 30px; padding-left: 60px;">
    <%= will_paginate %>
  </div>
</div>
