<h2 align="center">
  Title: <%= @article.title %>
</h2>

<div class="card col-8 offset-2" style="background: rgba(205,205,205,0.5); padding: 15px;">
  <% if @article.user %>
    <ul class="listing">
      <div class="row center">
        <div class="col-sm-12">
          <li>
            Created by:
          </li>
          <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
          <li class="article-title"><%= link_to @article.user.username, user_path(@article.user) %></li>
          <li><small>
            <%= pluralize(@article.user.articles.count, "article") if @article.user.articles %>
          </small></li>
        </div>
      </div>
    </ul>
  <% end %>

  <h4 class="center description"><strong>Description:</strong></h4>
  <hr />
  <%= simple_format(@article.description) %>

  <% if @article.categories.any? %>
    <p>Categories: <%= render @article.categories %></p>
  <% end %>

  <div class="article-actions">
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
      <%= link_to "Edit article", edit_article_path(@article), class: "btn btn-sm btn-primary" %>
      <%= link_to "Delete this Article", article_path(@article), method: :delete,
                                          data: { confirm: "Are you sure?" },
                                          class: "btn btn-sm btn-danger" %>
    <% end %>
    <%= link_to "View all articles", articles_path, class: "btn btn-sm btn-success" %>
  </div>
