<%= render "shared/errors", obj: @user %>

<div class="row">
  <div class="col-sm-12">
    <%= form_for(@user, html: {class:"form-horizonal", role: "form"}) do |f| %>
      <div class="row form-group">
        <div class="control-label col-sm-2">
          <%= f.label :username %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :username, class: "form-control", placeholder: "Enter Username", autofocus: true %>
        </div>
      </div>
      <div class="row form-group">
        <div class="control-label col-sm-2">
          <%= f.label :email %>
        </div>
        <div class="col-sm-8">
          <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="control-label col-sm-2">
          <%= f.label :password %>
        </div>
        <div class="col-sm-8">
          <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
        </div>
      </div>

      <div class="row form-group">
        <div class="offset-sm-2 col-sm-10">
          <%= f.submit(@user.new_record? ? "Sign up" : "Update your account", class: "btn btn-primary btn-lg") %>
        </div>
      </div>

    <% end %>

    <div class="center col-12 sm-offset-2">
      [ <%= link_to "Cancel Request and Return to Articles Listing", articles_path %> ]
      <%#= link_to "Back to articles listing", articles_path %>
    </div>

  </div>
</div>
