<h1 align="center">All Alpha Bloggers</h1>
<div align="center">
  <div class="row">
    <div class="digg_pagination col-4 offset-4" style="margin-top: 30px; margin-bottom: 30px; padding-left: 65px;">
      <%= will_paginate @users %>
    </div>
  </div>
  <% @users.each do |user| %>
    <ul class="listing">
      <div class="card col-sm-4 sm-offset-4" style="padding: 15px 0 10px 0;">
        <li><%= link_to gravatar_for(user), user_path(user) %></li>
        <li class="article-title"><%= link_to user.username, user_path(user) %></li>
        <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
        <% if logged_in? && current_user.admin? %>
          <li>
            <%= link_to "Delete this user", user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete this user and all of their articles?"} %>
          </li>
        <% end %>
      </div>
    </ul>
  <% end %>
</div>
<div class="row">
  <div class="digg_pagination col-4 offset-4" style="margin-top: 30px; margin-bottom: 30px; padding-left: 65px;">
    <%= will_paginate @users %>
  </div>
</div>
