<h1 align="center">Welcome to <%= @user.username %>'s page</h1>

<div class="row">
  <div class="col-4 offset-4 center">
    <%= gravatar_for(@user, size: 150) %>
  </div>
</div>

<h4 align="center"><%= @user.username %>'s Articles</h4>

<div class="row">
  <div class="digg_pagination col-4 offset-4" style="margin-top: 30px; margin-bottom: 30px; padding-left: 60px;">
    <%= will_paginate @user_articles %>
  </div>
</div>

<%= render "articles/article", obj: @user.articles %>

<div class="digg_pagination col-4 offset-4" style="margin-top: 30px; margin-bottom: 30px; padding-left: 60px;">
  <%= will_paginate @user_articles %>
</div>
