<% if obj.errors.any? %>
  <div class="row" style="margin-bottom: 15px; color: #c00;">
    <div class="col-8 offset-2">
      <div class="card" style="background: rgba(205,0,0,0.2); margin: 15px; padding: 15px;">
        <div class="card-heading">
          <h3 class="card-title">
            <%= pluralize(obj.errors.count, "error") %>
            prohibited this article from being saved:
          </h3>
          <div class="card-body">
            <ul>
              <% obj.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
