<!--<div style='text-align: center;'>
  <%#= link_to image_tag('home.jpg'), 'www.example.com', style: 'width: 50%;' %>
</div>-->

<style>
  .btn-xlarge { font-size: 1.7em; background-color: #000; margin: 15px; padding: 8px 30px; }
</style>

<div class="center jumbotron">
  <h1 class="heavy display-4">ALPHA BLOG</h1>
  <%= link_to "Sign-up now!", signup_path, class: "btn btn-danger btn-xlarge" %>
</div>
