@import "bootstrap";

// $navbar-default-bg-color: #08088a;
// $navbar-inverse-bg: gray;
.heavy { font-weight: 600; }
.center { text-align: center; }
#logo { float: left; font-size: 1.7em; color: #fff; text-transform: uppercase; letter-spacing: -1px; font-weight: 600; }
#logo:hover {
  color: #fff;
  text-decoration: none;
}

.article-title { font-weight: bold; font-size: 1.5em; }
.article-body { border-top: 1px solid #eaeaea; padding-top: 15px; padding-bottom: 15px; font-size: 1.2em; }

.description {
  margin-top: 0;
}
.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top:1px solid #eaeaea;
  padding-top: 5px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  background-color: #428bca;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 100;
}

.input_checkbox {
  width: auto !important;
}

$whitelinkcolor: rgba(255,255,255,1);
a.whitelink:link { color: $whitelinkcolor; text-decoration: none; }
a.whitelink:visited { color: $whitelinkcolor; text-decoration: none; }
a.whitelink:active { color: $whitelinkcolor; text-decoration: none; }
a.whitelink:hover { color: darken($whitelinkcolor, 20%); text-decoration: underline; }

footer { margin-top: 45px; padding-top: 5px; border-top: 1px solid #eaeaea; color: #777; }
footer a:hover { color: #222; }
footer small { float: left; }
footer ul { float: right; list-style: none; }
footer ul li { float: left; margin-left: 15px; }

.jumbotron h1 { color: #fff; text-align: center; font-weight: 600; margin-bottom: 30px; letter-spacing: -1px; }

.jumbotron { background-image: asset-url('alpha-sunset.png'); background-size: cover; height: 500px; }

h1, h2, h3, h4, h5, h6 { font-family: 'Roboto', sans-serif !important; font-weight: 900; }
p, div { font-family: 'Roboto', sans-serif !important; font-weight: 300; }
div .worksans { font-family: 'Work Sans', sans-serif !important; }
div .source { font-family: 'Source Sans Pro', sans-serif !important; }
p { font-size: 0.8em; }
// .footer { position: fixed; left: 0; bottom: 0; width: 100%; text-align: center; font-size: 1em; color: #fff; background: rgba(69,139,202,0.8) }


// @import "custom";

@import "pagination";
// @import "bootstrap/navbar";



// @import "custom";

// @import "bootstrap/navbar";
