
<%= render "shared/errors", obj: @category %>

<%= form_for(@category, html: {class:"form-horizonal", role: "form"}) do |f| %>
  <div class="row form-group">
    <div class="control-label col-sm-2">
      <%= f.label :name %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :name, class: "form-control", placeholder: "Category name", autofocus: true %>
    </div>
  </div>

  <div class="row form-group">
    <div class="offset-sm-2 col-sm-10">
      <%= f.submit class: "btn btn-primary btn-lg" %>
    </div>
  </div>

<% end %>

<div class="center col-12 sm-offset-2">
  [ <%= link_to "Cancel Request and Return to Articles Listing", articles_path %> ]
  <%#= link_to "Back to articles listing", articles_path %>
</div>
