<h1 align="center">Listing All Categories</h1>
<div class="digg_pagination col-4 offset-4" style="margin-top: 30px; margin-bottom: 30px; padding-left: 65px;">
  <%= will_paginate %>
</div>
<div align="center">
  <% @categories.each do |cat| %>
  <ul class="listing">
    <div class="row">
      <div class="card col-4 offset-4" style="background: rgba(205,205,205,0.5); padding: 15px;">
        <li class="article-title">
          <%= link_to "#{cat.name}", category_path(cat) %>
        </li>
        <li><small><%= pluralize(cat.articles.count, "article") %></small></li>
      </div>
    </div>
  </ul>
  <% end %>
</div>
<div class="digg_pagination col-4 offset-4" style="margin-top: 30px; margin-bottom: 30px; padding-left: 65px;">
  <%= will_paginate %>
</div>
