<h1 align="center"><%= "Category: " + @category.name %></h1>

<% if logged_in? && current_user.admin? %>
  <div class="center">
    <span class="badge"><%= link_to "Edit Category", edit_category_path(@category), class: "whitelink" %></span>
  </div>
<% end %>

<div class="row center">
  <div class="digg_pagination col-4 offset-4" style="margin-top: 30px; margin-bottom: 30px; padding-left: 60px;">
    <%= will_paginate @category_articles %>
  </div>
</div>
<%= render "articles/article", obj: @category_articles %>
<div class="row">
  <div class="digg_pagination col-4 offset-4" style="margin-top: 30px; margin-bottom: 30px; padding-left: 60px;">
    <%= will_paginate @category_articles %>
  </div>
</div>
