<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Alpha blog", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="right navbar-nav mr-auto">
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-4" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </ul>
    <ul class="navbar-nav">
      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item"><%= link_to "All Articles", articles_path, class: "dropdown-item" %></li>
            <li class="nav-item"><%= link_to "New Article", new_article_path, class: "dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item"><%= link_to "All Categories", categories_path, class: "dropdown-item" %></li>
            <% Category.all.each do |cat| %>
              <li class="nav-item"><%= link_to "#{cat.name}", category_path(cat), class: "dropdown-item" %></li>
            <% end %>
            <% if logged_in? && current_user.admin? %>
              <div class='dropdown-divider'><%# DIVIDER %></div>
              <li><%= link_to "Create New Category", new_category_path, class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Your Profile <%= "Admin" if current_user.admin? %>
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item"><%= link_to "Edit your profile", edit_user_path(current_user), class:"dropdown-item" %></li>
            <li class="nav-item"><%= link_to "View your profile", user_path(current_user), class:"dropdown-item" %></li>
          </ul>
        </li>

        <li class="nav-item"><%= link_to "All Users", users_path, class: "nav-link"  %></li>

        <li class="nav-item"><%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %></li>

      <% else %>
        <li class="nav-item"><%= link_to "Log in", login_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Sign up", signup_path, class: "nav-link" %></li>
      <% end %>
    </ul>



  </div>
</nav>
