<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans%7CRoboto:400,500%7CSource+Sans+Pro:300,600' rel='stylesheet'>

  </head>

  <body style=''>

    <%= render "layouts/navigation" %>

    <%= render "layouts/messages" %>

    <div class="container" style="padding: 30px;">
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>
    <div>
      <%= debug(params) if Rails.env.development? %>

    </div>
  </body>


</html>
